body{
	background-image: url('222.jpg');
	margin: 0;	
}
.size{
	width: 20%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
.div1 { float: left;  width:20%;  height: 50px;   margin: 10px; border: 3px solid #73AD21; } 
.div2 {  border: 1px solid white; height: 100px;  width: 50%; background: white;} 
.div3 { float: right;width: 20%;  height: 50px;   margin: 10px;  border: 3px solid #73AD21;} 
.div4 { border: 1px solid red; height: 100px; clear: right; }